# Docker compose environment variables
DB_USER=postgres
DB_PASSWORD=NEW_PASSWORD_HERE # Change this to a new password
DB_NAME=calendar_db
DB_PORT=5432
DB_HOST=db

PORT=5000

# Nginx
APP_PORT=100

# Frontend
VITE_API_URL=/api